/*body {
	background-color: #333;
	background: top center url('../img/bootstrap-bkg.jpg') repeat #414852;
}*/

body {
	background-color: rgb(138, 138, 138);
	background-image:url('../img/bootstrap-bkg.jpg');
	background-repeat:no-repeat;
}

a,
a:hover {
	color: #333;
}

.navbar-inner {
	background-image: none;
	background-color: rgba(0, 0, 0, 0.8);
}

.navbar .nav-collapse > .nav > li > a,
.navbar .brand {
	color: #fff;
}

.navbar .nav > li > a:hover,
.navbar .brand:hover,
.navbar .dropdown-menu a:hover {
	background-color: #272A30 !important;
}

.caret {
	opacity: 1;
}

.main {
	padding: 60px 0;
}

.hero {
	padding: 30px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

.hero h1 {
	margin-bottom: 20px;
	font-size: 60px;
	line-height: 60px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.hero h3 {
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 24px;
	font-weight: normal;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.social {
	text-align: center;
	margin-bottom: 30px;
}

.nav-tabs {
	margin-bottom: 0;
	border-bottom: none;
}

input[type="text"] {
	width: 100%;
	height: 30px;
	margin-left: -2px;
	font-size: 16px;
}

.nav-tabs li > a,
.nav-tabs li > a:hover {
	border-color: transparent;
	background-color: #ccc;
	box-shadow: inset 0 -1px 4px rgba(0, 0, 0, 0.1);
	color: #404650;
}

.nav-tabs li.active > a,
.nav-tabs li.active > a:hover {
	background-color: #ddd;
	box-shadow: none;
	color: #404650;
}

.tab-content {
	padding: 30px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
	border-radius: 0 6px 6px 6px;
	background-color: #ddd;
}

.tab-content h4 {
	margin: 25px 0 15px;
}

.tab-content a {
	color: #888;
	text-decoration: underline;
}

.label-container {
	line-height: 14px;
}

.label {
	margin-left: -1px;
	background-color: rgba(0, 0, 0, 0.6);
	background-color: #212429;
	border-radius: 3px 3px 0 0;
}

.bar {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.bar .row-fluid > [class*="span"] {
	min-height: 12px;
}

.bar h3 {
	margin: 5px;
	text-align: center;
}

.sponsors {
	padding: 20px 0 40px;
	background-color: #ddd;
}

.sponsors h3 {
	text-align: center;
	color: #404650;
}

.endorse {
	padding: 1px 0 40px;
	background-color: #ddd;
}

.endorse h3 {
	text-align: center;
	color: #404650;
}

.logo {
	padding: 30px 0 20px;
	text-align: center;
	opacity: 0.8;
}

.footer {
	padding: 40px 0 20px;
	color: #999;

}

.footer ul {
	margin-left: 0;
	list-style-type: none;
}

.table-index td:first-child {

	min-width: 30px;
}

@media (max-width: 480px) {


	.hero {
		padding: 15px;
	}

	.hero h1 {
		font-size: 40px;
		line-height: 42px;
	}

	.nav-tabs li > a {
		padding: 7px;
		font-size: 11px;
	}

	.tab-content h4 {
		margin: 5px 0 15px;
	}
}


@media (max-width: 767px) {

	.sponsors {
		margin-left: -20px;
		margin-right: -20px;
		padding: 20px 40px 40px;
	}

	.footer .pull-right {
		clear: both;
	}

	.footer .pull-right {
		margin-top: 20px;
		float: left;
	}
}

@media (max-width: 979px) {

	.main {
		padding: 0 0 60px;
	}
}

@media (min-width: 1200px) {

	.container,
	.navbar-fixed-top .container {
		width: 940px;
	}

	.row {
		margin-left: -20px;
	}
}

.logoArea{display:block;width:500px;min-height:69px;overflow:hidden;}
#NetDNA, #MaxCDN, #CloudCache{display:block;Width:134px;height:55px;margin:7px 0px;float:left;background-image:url('../img/logos.png');}
#NetDNA{background-position:0px 0px;margin-right:49px;}
#MaxCDN{background-position:-134px 0px;margin-right:49px;}
#CloudCache{background-position:-268px 0px;}
#NetDNA:hover{background-position:0px -55px;}
#MaxCDN:hover{background-position:-134px -55px;}
#CloudCache:hover{background-position:-268px -55px;}
.trusted-by { display:block; float:left; margin-right:62px;; }
#luckymag-logo,#grunt-logo,#stanford-logo,#applesencia-logo,#dramafever-logo{background-repeat: no-repeat;background-image: url('http://www.bootstrapcdn.com/img/trusted-by.png');}
#luckymag-logo{background-position:0px 0px;width:70px;height:23px;}
#grunt-logo{background-position:-73px 0px;width:87px;height:19px; margin-top: 1px;}
#stanford-logo{background-position:-163px 0px;width:140px;height:17px;}
#applesencia-logo{background-position:-306px 0px;width:143px;height:24px;}
#dramafever-logo{background-position:0px -27px;width:182px;height:39px;margin-top:-10px;}
.trusted-by:last-child { margin-right: 0; }
#trusted-logos { margin-bottom: 7px; }
#trusted-logos h3 { margin-bottom: 14px; }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


.dataTables_length {
  display: none;
	width: 75px;
	float: left;
}

.dataTables_filter {
	width: 182px;
	float: right;
	text-align: right;
	margin-top: -56px;
}

.no-padding .dataTables_filter {
    margin-top: -46px;
    margin-right: 10px;
}

.dataTables_filter input {
  background: url(../img/datatables/search.png) 6px 6px no-repeat #FEFFFE;
  border: 1px solid #c7c7c7;
  border-radius: 20px;
  box-shadow: 0 1px 0 #FEFFFE;
  color: #282828;
  margin: 8px 0;
  padding: 3px 10px;
  padding-left: 20px;
  width: 150px;
  
  -moz-border-radius: 20px;  
  -webkit-border-radius: 20px;
  -moz-box-shadow: 0 1px 0 #FEFFFE;
  -webkit-box-shadow: 0 1px 0 #FEFFFE;
}


.dataTables_info {
  font-size: 11px;
	width: 300px;
	float: left;
}

.no-padding .dataTables_info {
    margin-left: 10px;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_disabled_previous {
	background: url('../img/datatables/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('../img/datatables/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('../img/datatables/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('../img/datatables/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('../img/datatables/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('../img/datatables/forward_enabled_hover.png') no-repeat top right;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 * Date: 2012-03-04
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../img/datatables/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../img/datatables/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../img/datatables/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../img/datatables/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../img/datatables/sort_desc_disabled.png') no-repeat center right;
}
 
table.display thead th:active,
table.display thead td:active {
	outline: none;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}


tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.dataTables_wrapper .top, .dataTables_wrapper .bottom {
	padding: 0px;
	background-color: #F5F5F5;
	border: 1px solid #ccc;
}

.dataTables_wrapper .top .dataTables_info {
	float: none;
}

/*.top, .bottom {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

.top .dataTables_info {
    float: none;
}*/

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers a:active {
	outline: none
}

.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
 	.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}


/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #example tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}


/*
 * KeyTable
 */
table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

table.display tr.gradeA {
	background-color: #eeffee;
}

table.display tr.gradeC {
	background-color: #ddddff;
}

table.display tr.gradeX {
	background-color: #ffdddd;
}

table.display tr.gradeU {
	background-color: #ddd;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}


