script(src="//www.hellobar.com/hellobar.js")
script.
    new HelloBar(34009,110807);

script.
    $("input:text").focus(function(){
        $(this).select();
        $(this).mouseup( function(a){ a.preventDefault(); })
    });

    var hash;
    var hash_suffix = '_tab';
    if (document.location.href.split('#')[1]) {
        hash = '#'+document.location.href.split('#')[1].replace(hash_suffix,'');
    }
    if (hash) {
        $('ul.nav.navbar-nav li a[href='+hash+']').tab('show');
    }

    function tabAction(ele) {
        var selected = $(ele).attr('href');
        document.location.href = "/"+(document.location.search ? document.location.search : '')+selected+hash_suffix;
        hash = selected;
    }

    function tryIt(n) {
        window.location.href = "/?theme="+n+(hash ? hash+hash_suffix : '');
    }

    function toggleCode(ele,name) {
        $('#'+name).toggleClass('hidden');
        $(ele).find('b').toggleClass('icon-caret-down');
        $(ele).find('b').toggleClass('icon-caret-up');
    }
//- vim: ft=jade sw=4 sts=4 et:
