script
    :uglify-js
        $('input:text').focus(function() {
            $(this).select();
            $(this).mouseup( function(a) {
                a.preventDefault();
            });
        });

        function tryIt(n) {
            window.location.href = '/bootswatch/?theme=' + n;
        }

        function toggleCode(el, name) {
            $('#' + name).toggleClass('hidden');
            $(el).find('i').toggleClass('fa-caret-down');
            $(el).find('i').toggleClass('fa-caret-up');
        }

        adroll_adv_id = 'P2URKLNIJJHPJGQLX4X2FG';
        adroll_pix_id = 'WJFDYQ7CEZAXHPVFWBMMIY';
        (function () {
            var oldonload = window.onload;
            window.onload = function() {
                __adroll_loaded = true;
                var scr = document.createElement('script');
                var host = 'https://s.adroll.com';
                scr.src = host + '/j/roundtrip.js';
                document.scripts[0].parentNode.appendChild(scr);
                if (oldonload) {
                    oldonload();
                }
            };
        }());

        (function(a,b,c,d,e){function f(){var a=b.createElement("script");a.async=!0;a.src="https://radar.cedexis.com/1/10956/radar.js";b.body.appendChild(a)}/\bMSIE 6/i.test(a.navigator.userAgent)||(a[c]?a[c](e,f,!1):a[d]&&a[d]("on"+e,f))})(window,document,"addEventListener","attachEvent","load");

        $('.alert-dismissible').each(function() {
            var $alert = $(this);
            var alertNameLSProp = $alert.attr('data-alert-id');

            if (localStorage.getItem(alertNameLSProp) === 'true') {
                $alert.remove();
            } else {
                $alert.on('close.bs.alert', function() {
                    localStorage.setItem(alertNameLSProp, true);
                });
            }
        });

        (function(){
            $('a[href="'+ window.top.location.pathname +'"]').parent().addClass('active');
        })();

script(async src="https://platform.twitter.com/widgets.js")

//- vim: ft=pug sw=4 sts=4 et:
