script.
    // Select to Copy
    $("input:text").focus(function(){$(this).select();$(this).mouseup(function(a){a.preventDefault()})});
    // Javascript to enable link to tab
    var hash = document.location.hash;
    var prefix = "tab_";
    if (hash) { $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show'); }
    // Change hash for page-reload
    $('.nav-tabs a').on('shown', function (e) {
        window.location.hash = e.target.hash.replace("#", "#" + prefix);
    });

//- vim: ft=jade sw=4 sts=4 et:
