/.git/
/node_modules/
/public/assets/js/vendor/
/public/assets/js/bundle.{dev,prod}.js
/public/assets/js/main.{dev,prod}.js
/public/bootlint/
/public/bootswatch/
/public/html5shiv/
/public/js/
/public/twitter-bootstrap/
