mixin menuItem(name, url, nofollow)
    -
        const classes = ['nav-item', 'mr-4'];
        const attr = attributes || {};

        if (typeof attr.extraclass !== 'undefined') {
            classes.push(attr.extraclass);
        }

        if (pageUrl.split('?')[0] === url) {
            classes.push('active');
        }

        if (name.includes(' Legacy')) {
            name = name.replace(' Legacy', '');
        }

        if (nofollow === true) {
            attr.rel = 'nofollow';
        }

    li(class=classes)
        a.nav-link.p-0(href=`${url}${themeQs}`, rel=attr.rel)=name
