mixin menuItem(name, url, nofollow)
    -
        let classes = ['nav-item'];
        var attributes = {};

        if (typeof attributes['extra-class'] !== 'undefined') {
            classes.push(attributes['extra-class']);
        }

        if (pageUrl === url) {
            classes.push('active');
        }

        if (name.includes(' Legacy')) {
            name = name.replace(' Legacy', '');
        }

        if (nofollow === true) {
            attributes.rel = 'nofollow';
        }

    li(class=classes)
        a.nav-link(href=`${url}${themeQs}`)&attributes(attributes)=name
