extends layout

block content
    h2 Bootlint
    div.well
        - var name = 'bootlintJS'.toLowerCase()
        - var file = config.bootlint[0].javascript
        - var sri  = config.bootlint[0].javascript_sri
        - var id   = name + '_form'

        .form-group
            label(for=id) Complete JavaScript
            .input-group.input-group-lg
                input.form-control(type="text", id=id, value=file)
                .input-group-btn
                    button.btn.btn-default.btn-lg(type="button", onclick="toggleCode(this,'" + name + "')")
                        i.fa.fa-caret-down

        include _partials/jscode

//- vim: ft=pug sw=4 sts=4 et:
