extends layout

block content
    iframe(src="https://dashboard.graphdat.com/embed/e.39fc390b51?d-w=1&d-h=2&d-pad=5&d-header=0&d-legend=0&d-light=1&d-bg=000000&d-sg-reqresptime=0-0-1-1&d-sg-reqcount=0-1-1-1",
           width='100%', height='550', frameborder='0', style="margin-top:-20px;")
    br

    include _partials/footer

block last
    script.
        $(window).load(function() {
            $('ul.nav.navbar-nav li').each(function() { $(this).removeClass('active'); });
            $('li#extras').addClass('active');
            $('li#app').addClass('active');
        });

//- vim: ft=jade sw=4 sts=4 et:
