extends layout

block content
    iframe.iframe-extras(src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AgzjZpa-s_3adFpEMVdJTU90X1F5WHJsV2k5YmZTdXc&font=Bevan-PotanoSans&maptype=toner&lang=en&height=550')

    p.timeline-js Powered by 
        a(href="http://timeline.knightlab.com/", target="_blank") TimelineJS

    include _partials/footer

block last
    script
        :uglify
            $(window).load(function() {
                $('ul.nav.navbar-nav li').each(function() { $(this).removeClass('active'); });
                $('li#extras').addClass('active');
                $('li#birthday').addClass('active');
            });

//- vim: ft=jade sw=4 sts=4 et:
