extends layout

block content
    iframe(src='http://embed.verite.co/timeline/?source=0AgzjZpa-s_3adFpEMVdJTU90X1F5WHJsV2k5YmZTdXc&font=Bevan-PotanoSans&maptype=toner&lang=en&height=550',
           width='100%', height='550', frameborder='0', style="margin-top:-20px;")
    br
    p.timeline-js Powered by&nbsp;
        a(href="http://timeline.verite.co/", target="_blank") Timeline.JS

    include _partials/footer

block last
    script.
        $(window).load(function() {
            $('ul.nav.navbar-nav li').each(function() { $(this).removeClass('active'); });
            $('li#extras').addClass('active');
            $('li#birthday').addClass('active');
        });

//- vim: ft=jade sw=4 sts=4 et:
