extends layout

block content
    //-Don't want to run ranomizer twice.
    - var randomTweets = helpers.randomTweets(tweets)

    include _partials/jumbotron

    .container
        .col-sm-12.col-md-9
            include _partials/tabs

        .col-md-3.visible-md.visible-lg
            include _partials/tweets

//- vim: ft=jade sw=4 sts=4 et:
