extends layout

block content
    h2 Integrations
    .row
        .col-md-6.text-center
            each item in col1
                include _partials/integrations

        .col-md-6.text-center
            each item in col2
                include _partials/integrations
    .row
        .col-md-12.text-center
            p
                a(class='btn btn-success', href='mailto:jdorfman@maxcdn.com?subject=' + encodeURIComponent('BootstrapCDN Integration Submission')) Submit Yours

//- vim: ft=pug sw=4 sts=4 et:
