extends layout.pug

block head
    meta(name='robots', content='noindex')

block content
    h2.text-center.mb-4 Jobs

    p.lead.text-center.mb-4
        a(href='/about/#sustainability') What’s this?

    .row
        .col-12
            #zipsearch_container

block scripts
    script(src='https://www.ziprecruiter.com/jobs-widget/pro/v2/agbxqbkdnitudfhi7nwdq2xtd55bfvj2')

    script(nonce=nonce)
        | window.zipsearch.init({
        |     search: 'Front End Developer',
        |     container: 'zipsearch_container',
        |     alerts_api_key: 'gvpvuqnqydx2tjwgzvusxzegy8bz95gu'
        | });

//- vim: ft=pug sw=4 sts=4 et:
