extends layout.pug

block content
    h2.text-center.mb-4 Privacy Policy

    .row
        .col-12
            a.iubenda-nostyle.iub-body-embed.iubenda-embed(href='https://www.iubenda.com/privacy-policy/74504147', title='Privacy Policy') Privacy Policy

//- vim: ft=pug sw=4 sts=4 et:
