extends layout

block content
    h2 Showcase
    .row
        .col-md-6.text-center
            each item in col1
                include _partials/showcase

        .col-md-6.text-center
            each item in col2
                include _partials/showcase

//- vim: ft=pug sw=4 sts=4 et:
