.navbar-brand > svg {
    display: inline-block;
    margin-right: .5rem;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.display-5 {
    font-size: 3rem;
}

.social {
    height: 75px;
}

@media (min-width: 576px) {
    .social {
        height: 30px;
    }
}

.input-group .dropdown-toggle::after {
    transition: -webkit-transform .35s ease;
    transition: transform .35s ease;
    transition: transform .35s ease, -webkit-transform .35s ease;
}

.input-group .dropdown-toggle-open::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.book-card img {
    width: auto;
    height: 250px;
}
