.navbar-brand > svg {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.tryit {
    padding-top: 25px;
}

.well {
    margin-top: 20px;
    padding-top: 0;
    text-align: center;
}

.well[id] {
    padding-top: 10px;
}

.well > .form-group > label {
    font-size: 18px;
    margin-top: 5px;
}

.bootswatch {
    padding: 10px 0 20px 0;
}

.jumbotron {
    margin-top: -50px;
    padding-bottom: 34px;
    text-align: center;
}

.social {
    height: 25px;
    text-align: center;
}

.social .list-inline > li {
    vertical-align: middle;
}

iframe {
    border: 0;
    overflow: hidden;
}

#ghbtns-badge {
    display: inline-block;
    width: 110px;
    height: 20px;
}

.caret {
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
}

.caret-open {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

footer {
    text-align: center;
}

footer p {
    line-height: 26px;
}


@media (min-width: 768px) {
    li .twitter-follow-button,
    li .twitter-share-button {
        margin: 0 18px;
    }
}


.carbonads-container {
    padding: 2em 1.5em;
    position: relative;
}

.ads-info-toggler {
    cursor: help;
    display: block;
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

#carbonads {
    overflow: hidden;
}

#carbonads a:hover {
    text-decoration: none;
}

#carbonads span {
    display: block;
    overflow: hidden;
}

.carbon-img {
    display: block;
    margin: 0 auto 1em;
}

.carbon-text {
    display: block;
    margin-bottom: 1em;
}

.carbon-poweredby {
    color: #373737;
    display: block;
    font-size: 0.7em;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
}
