.navbar-brand > svg {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.social {
    height: 25px;
}

iframe {
    border: 0;
    overflow: hidden;
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.caret::after {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;

    -webkit-transition: -webkit-transform 0.35s ease;
    transition: transform 0.35s ease;
}

.caret-open::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}


.carbonads-container {
    padding: 2em 1.5em;
    position: relative;
}

.ads-info-toggler {
    cursor: help;
    display: block;
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

#carbonads {
    overflow: hidden;
}

#carbonads span {
    display: block;
    overflow: hidden;
}

#carbonads a {
    text-decoration: none;
}

.carbon-img {
    display: inline-block;
}

.carbon-img img {
    display: block;
    margin: 0 auto 1em;
}

.carbon-text {
    display: block;
    font-size: 0.9rem;
    margin: 0 auto 1em;
    max-width: 300px;
}

.carbon-poweredby {
    color: #373737;
    display: block;
    font-size: 0.7em;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
}
