/* hack to fix firefox issue where tweet and blockquote
 * where both showing up, little help anyone? */
blockquote.twitter-tweet {
    visibility: hidden;
    height: 0;
    margin: 5px;
    padding: 0;
}

.tryit {
    padding-top: 25px;
}

.well {
    margin-top: 20px;
    padding-top: 0;
    text-align: center;
}

.well[id] {
    padding-top: 10px;
}

.well > .form-group > label {
    font-size: 18px;
    margin-top: 5px;
}

.bootswatch {
    padding: 10px 0 20px 0;
}

.jumbotron {
    margin-top: -50px;
    padding-bottom: 25px;
}

iframe {
    border: 0;
    overflow: hidden;
}
