.carbonads-container
    script#_carbonads_js(async, src='https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootstrapcdncom')

    button.btn.ads-info-btn(type='button', data-toggle='modal', data-target='.ads-modal', title='Ads info')
        include /assets/img/info-icon.svg
        span.sr-only Ads info

    .modal.fade.ads-modal(tabindex='-1', role='dialog', aria-labelledby='adsModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#adsModalLabel.modal-title What's This Ad?
                .modal-body
                    | This ad is designed to support Open Source. All earnings are a donation to the 
                    a(href='https://opencollective.com/opensource', target='_blank', rel='noopener') Open Source Collective.
