.alert.alert-info.text-center.mb-4(role='alert')
    | Kick-Ass Custom Sticker Contest! Submit yours on #[a.alert-link(href='https://codier.io/challenge/stickermule?ref=bcdn', target='_blank') Codier].

//- vim: ft=pug sw=4 sts=4 et:
