.well.hidden(id=name, style="padding-top:10px;")
    .form-group
        label(for='html') HTML
        input.form-control(type='text', value='<link href="'+cssPath+'" rel="stylesheet">')
    .form-group
        label(for='jade')
            a(href="http://jade-lang.com/") JADE
        input.form-control(type='text', value='link(href="'+cssPath+'", rel="stylesheet")')
    .form-group
        label(for='haml')
            a(href="http://haml.info/") HAML
        input.form-control(type='text', value='%link{:href=>"'+cssPath+'", :rel=>"stylesheet"}')
//- vim: ft=jade sw=4 sts=4 et:
