#fontawesome.tab-pane
    h2 Font Awesome
    center.well
        .label-container
            h3 Awesome CSS
        p
            input.input-lg(value="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css")
        .label-container
            h3 CSS (no Icons)
        p
            input.input-lg(value="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css")
    br
//- vim: ft=jade sw=4 sts=4 et:
