#fontawesome.tab-pane
    h2 Font Awesome
    center.well
        - var name = 'fontawesomeCSS1'
        - var cssPath = '//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'
        .label-container
            h3 Awesome CSS
        .input-group.input-group-lg
            input.form-control(value=cssPath)
            .input-group-btn
                button.btn.btn-lg(type="button", onclick="toggleCode(this,'"+name+"')")
                    b.icon-caret-down
        include csscode

        - var name = 'fontawesomeCSS2'
        - var cssPath = '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css'
        .label-container
            h3 CSS (no Icons)
        .input-group.input-group-lg
            input.form-control(value=cssPath)
            .input-group-btn
                button.btn.btn-lg(type="button", onclick="toggleCode(this,'"+name+"')")
                    b.icon-caret-down
        include csscode
    br
//- vim: ft=jade sw=4 sts=4 et:
