#fontawesome.tab-pane
    .label-container
        .label css on icons
    p
        input.inputs(value="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css")

    .label-container
        .label font awesome css
    p
        input.inputs(value="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css")

//- vim: ft=jade sw=4 sts=4 et:
