#fontawesome.tab-pane
    h2 Font Awesome
    div.well.text-center
        - var name = 'fontawesomeCSS1'.toLowerCase()
        //- TODO: cssPath should come from configs
        - var cssPath = '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
        - var id = name + '_form'

        .form-group
            label(for=id) Font Awesome CSS
            .input-group.input-group-lg
                input.form-control(type="text", id=id, value=cssPath)
                .input-group-btn
                    button.btn.btn-default.btn-lg(type="button", onclick="toggleCode(this,'" + name + "')")
                        i.fa.fa-caret-down

        include csscode

//- vim: ft=jade sw=4 sts=4 et:
