br
hr
center
    p Maintained by&nbsp;
        a(href="https://twitter.com/jdorfman") @jdorfman
        &nbsp;and&nbsp;
        a(href="https://twitter.com/mervinej") @mervinej
    p
        h1
            a(href="http://www.maxcdn.com/")
                i.fa.fa-maxcdn

//- vim: ft=jade sw=4 sts=4 et:
