br
center
    p Maintained by&nbsp;
        a(href="https://twitter.com/jdorfman") @jdorfman
        &nbsp;and&nbsp;
        a(href="https://twitter.com/mervinej") @mervinej
    p
        a(href="http://www.maxcdn.com/")
            i.icon-maxcdn.icon-2x
//- vim: ft=jade sw=4 sts=4 et:
