div(style="margin-left: 5%")
    p
        a(href="http://getbootstrap.com") Bootstrap
        &nbsp;is a front-end framework for fast, sleek, and mobile-first web development.
    p
        a(href="http://fontawesome.io") Font Awesome
        &nbsp;is the iconic font designed for Bootstrap.
    p
        a(href="http://bootswatch.com") Bootswatch
        &nbsp;provides free themes for Bootstrap.
    p
        a(href="http://glyphicons.com") Glyphicons
        &nbsp;is an extensive glyph library created by Jan Kovařík and&nbsp;
        a(href="http://glyphicons.com/glyphicons-licenses/") made available for Bootstrap
    p
        a(href="http://bootstrapcdn.com") Bootstrap CDN
        &nbsp;provides free CDN support for Bootstrap's CSS and JavaScript.

br
.well
    br
    include social
center
    p Maintained by&nbsp;
        a(href="https://twitter.com/jdorfman") @jdorfman
        &nbsp;and&nbsp;
        a(href="https://twitter.com/mervinej") @mervinej
    p
        a(href="http://www.maxcdn.com/")
            i.icon-maxcdn.icon-2x
//- vim: ft=jade sw=4 sts=4 et:
