br
hr
footer.text-center
    p
        | Maintained by <a href="https://twitter.com/jdorfman">@jdorfman</a>
        |  and <a href="https://twitter.com/mervinej">@mervinej</a>
    p
        a(href="http://www.maxcdn.com/")
            i.fa.fa-maxcdn.fa-3x

//- vim: ft=jade sw=4 sts=4 et:
