footer.mt-5.py-4.text-center
    .container
        .row
            .col-12
                p
                    | Maintained by 
                    each author, index in config.authors
                        if (index === config.authors.length - 1)
                            |  &amp; 
                        else if (index > 0)
                            | , 
                        a(href=author.url, rel='noopener', target='_blank')=`@${author.twitter}` 

                p
                    a(href='https://www.stackpath.com/', title='StackPath', rel='noopener', target='_blank')
                        include /assets/img/stackpath-icon.svg

                p
                    | Homies be 
                    each friend, index in config.friends
                        if (index === config.friends.length - 1)
                            |  &amp; 
                        else if (index > 0)
                            | , 
                        a(href=friend.url, rel='noopener', target='_blank')=friend.name 

                p
                    a(href='/privacy-policy/') Privacy Policy

//- vim: ft=pug sw=4 sts=4 et:
