br
hr
footer.text-center
    p
        | Maintained by 
        a(href="https://twitter.com/jdorfman") @jdorfman
        |  and 
        a(href="https://twitter.com/mervinej") @mervinej
    p
        a(href="https://www.maxcdn.com/")
            i.fa.fa-maxcdn.fa-3x

//- vim: ft=jade sw=4 sts=4 et:
