.alert.alert-info.text-center.mb-4(role='alert')
    | Looking for a premium icon sets? Check out #[a.alert-link(href='https://www.iconfinder.com/icon-sets/featured?ref=bcdn', target='_blank') Iconfinder]!

//- vim: ft=pug sw=4 sts=4 et:
