<!--[if lt IE 9]><div data-alert-id="browserPrompt" class="alert alert-warning alert-dismissible text-center" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><h4><span class="fa fa-exclamation-circle"></span> Warning</h4><p>You are using an <strong>outdated</strong> browser. Please <a class="alert-link" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div><![endif]-->

//- vim: ft=pug sw=4 sts=4 et:
