.well.hidden(id=name)
    .form-group
        label(for='html_' + name) HTML
        input.form-control(type='text', id='html_' + name, value='<script src="' + file + '" integrity="' + sri + '" crossorigin="anonymous"></script>')
    .form-group
        label(for='jade_' + name)
            a(href="https://pugjs.org/", target="_blank") Pug
        input.form-control(type='text', id='jade_' + name, value='script(src="' + file + '", integrity="' + sri + '", crossorigin="anonymous")')
    .form-group
        label(for='haml_' + name)
            a(href="http://haml.info/", target="_blank") Haml
        input.form-control(type='text', id='haml_' + name, value='%script{src: "' + file + '", integrity: "' + sri + '", crossorigin: "anonymous"}')

//- vim: ft=pug sw=4 sts=4 et:
