.jumbotron
    div.container.text-center
        h1 Bootstrap CDN
        p
            | The recommended <a href="http://www.maxcdn.com" target="_blank">CDN</a> for
            |  <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>,
            |  <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>,
            |  and <a href="http://bootswatch.com/" target="_blank">Bootswatch</a>.
        include social

//- vim: ft=jade sw=4 sts=4 et:
