.jumbotron.text-center
    h1.display-5 BootstrapCDN

    p.lead
        | The recommended 
        a(href='https://www.stackpath.com/secure-cdn/', target='_blank', rel='noopener') CDN
        |  for 
        a(href='https://getbootstrap.com/', target='_blank', rel='noopener') Bootstrap
        | , 
        a(href='http://fontawesome.io/', target='_blank', rel='noopener') Font Awesome
        |  and 
        a(href='https://bootswatch.com/', target='_blank', rel='noopener') Bootswatch
        | .

    .social.my-4.text-center
        ul.list-inline
            li.list-inline-item
                iframe.d-inline-block.mx-md-auto(src='https://ghbtns.com/github-btn.html?user=MaxCDN&repo=bootstrap-cdn&type=watch&count=true', width='110', height='20', title='Star on GitHub')
            li.list-inline-item.mr-md-3
                a.twitter-follow-button(href='https://twitter.com/jdorfman', data-show-count='false') Follow @jdorfman
            li.list-inline-item.mx-md-2
                a.twitter-follow-button(href='https://twitter.com/mervinej', data-show-count='false') Follow @mervinej
            li.list-inline-item.ml-md-3
                a.twitter-share-button(href='https://twitter.com/intent/tweet?hashtags=webperf&related=mervinej,jdorfman&text=%23BootstrapCDN%3A%20%40getbootstrap%20hosted%20by%20%40MaxCDN&url=https%3A%2F%2Fwww.bootstrapcdn.com%2F&via=getbootstrapcdn') Tweet

//- vim: ft=pug sw=4 sts=4 et:
