.jumbotron
    .container
        h1 BootstrapCDN
        p
            | The recommended 
            a(href='https://www.stackpath.com/secure-cdn/', target='_blank', rel='noopener noreferrer') CDN
            |  for 
            a(href='https://getbootstrap.com/', target='_blank', rel='noopener noreferrer') Bootstrap
            | , 
            a(href='http://fontawesome.io/', target='_blank', rel='noopener noreferrer') Font Awesome
            |  and 
            a(href='https://bootswatch.com/', target='_blank', rel='noopener noreferrer') Bootswatch
            | .

        .social
            ul.list-inline
                li
                    span#ghbtns-badge
                li
                    a.twitter-follow-button(href='https://twitter.com/jdorfman', data-show-count='false') Follow @jdorfman
                li
                    a.twitter-follow-button(href='https://twitter.com/mervinej', data-show-count='false') Follow @mervinej
                li
                    a.twitter-share-button(href='https://twitter.com/intent/tweet?hashtags=webperf&related=mervinej,jdorfman&text=%23BootstrapCDN%3A%20%40getbootstrap%20hosted%20by%20%40MaxCDN&url=https%3A%2F%2Fwww.bootstrapcdn.com%2F&via=getbootstrapcdn') Tweet

//- vim: ft=pug sw=4 sts=4 et:
