.jumbotron
    div.container.text-center
        h1 BootstrapCDN
        p
            | The recommended 
            a(href="https://www.stackpath.com/secure-cdn/", target="_blank") CDN
            |  for 
            a(href="https://getbootstrap.com/", target="_blank") Bootstrap
            | , 
            a(href="http://fontawesome.io/", target="_blank") Font Awesome
            |  and 
            a(href="https://bootswatch.com/", target="_blank") Bootswatch
            | .
        include social

//- vim: ft=pug sw=4 sts=4 et:
