.jumbotron.text-center
    h1.display-5 BootstrapCDN

    p.lead
        | The recommended 
        a(href='https://www.stackpath.com/products/cdn/?utm_campaign=Partner%20Display&utm_source=Partner%20Display&utm_medium=bootstrapcdn', rel='noopener', target='_blank') CDN
        |  for 
        a(href='https://getbootstrap.com/', rel='noopener nofollow', target='_blank') Bootstrap
        | , 
        a(href='https://fontawesome.com/', rel='noopener nofollow', target='_blank') Font Awesome
        |  and 
        a(href='https://bootswatch.com/', rel='noopener nofollow', target='_blank') Bootswatch
        | .

    .social.my-4.text-center
        ul.list-inline
            li.list-inline-item.d-block.d-sm-inline-block.mr-sm-3
                object(data='https://img.shields.io/github/stars/MaxCDN/bootstrapcdn.svg?style=social', type='image/svg+xml', aria-hidden='true', width='90', height='20')
            li.list-inline-item.d-block.d-sm-inline-block.mx-sm-3
                a.twitter-follow-button(href='https://twitter.com/getbootstrapcdn', data-show-count='false') Follow @getbootstrapcdn
            li.list-inline-item.d-block.d-sm-inline-block.ml-sm-3
                a.twitter-share-button(href=encodeURI('https://twitter.com/intent/tweet?hashtags=webperf&related=mervinej,jdorfman,xhmikosr&text=#BootstrapCDN: @getbootstrap hosted by @StackPath&url=https://www.bootstrapcdn.com/&via=getbootstrapcdn')) Tweet

//- vim: ft=pug sw=4 sts=4 et:
