.jumbotron
    center.container
        h1 Bootstrap CDN
        p The recommended CDN for&nbsp;
            a(href="http://getbootstrap.com", target="_blank") Bootstrap
            ,&nbsp;
            a(href="http://FontAwesome.io", target="_blank") Font Awesome
            , and&nbsp;
            a(href="http://bootswatch.com") Bootswatch
            &#46;
        include social
//- vim: ft=jade sw=4 sts=4 et:
