.jumbotron
    .container
        h1 BootstrapCDN
        p
            | The recommended 
            a(href='https://www.stackpath.com/secure-cdn/', target='_blank', rel='noopener noreferrer') CDN
            |  for 
            a(href='https://getbootstrap.com/', target='_blank', rel='noopener noreferrer') Bootstrap
            | , 
            a(href='http://fontawesome.io/', target='_blank', rel='noopener noreferrer') Font Awesome
            |  and 
            a(href='https://bootswatch.com/', target='_blank', rel='noopener noreferrer') Bootswatch
            | .
        include social.pug

//- vim: ft=pug sw=4 sts=4 et:
