.jumbotron.text-center
    h1.display-5 BootstrapCDN

    p.lead
        | The recommended 
        a(href='https://www.stackpath.com/secure-cdn/', rel='noopener', target='_blank') CDN
        |  for 
        a(href='https://getbootstrap.com/', rel='noopener', target='_blank') Bootstrap
        | , 
        a(href='https://fontawesome.com/', rel='noopener', target='_blank') Font Awesome
        |  and 
        a(href='https://bootswatch.com/', rel='noopener', target='_blank') Bootswatch
        | .

    .social.my-4.text-center
        ul.list-inline
            li.list-inline-item.mr-md-3
                span#ghbtns-badge.d-inline-block
                noscript
                    iframe(src='https://ghbtns.com/github-btn.html?user=MaxCDN&repo=bootstrapcdn&type=watch&count=true', width='110', height='20', title='Star on GitHub')
            li.list-inline-item.mx-md-3
                a.twitter-follow-button(href='https://twitter.com/getbootstrapcdn', data-show-count='false') Follow @getbootstrapcdn
            li.list-inline-item.ml-md-3
                a.twitter-share-button(href=encodeURI('https://twitter.com/intent/tweet?hashtags=webperf&related=mervinej,jdorfman,xhmikosr&text=#BootstrapCDN: @getbootstrap hosted by @StackPath&url=https://www.bootstrapcdn.com/&via=getbootstrapcdn')) Tweet

//- vim: ft=pug sw=4 sts=4 et:
