-var bootstrap = config.bootstrap.filter(function(o) { return o.current; })[0];
-var jquery = config.javascript.filter(function(o) { return o.name === 'jquery'; })[0];
-var clipboardjs = getVersionedPath('/assets/js/vendor/clipboard.min.js');
-var mainjs = getVersionedPath(process.env.NODE_ENV === 'production' ? '/assets/js/main.prod.js' : '/assets/js/main.dev.js');

| loadjs(['#{clipboardjs}', '#{mainjs}'], 'mainjs', {
|     async: false,
|     numRetries: 3
| });
| loadjs(['#{jquery.uri}', '#{bootstrap.javascriptBundle}'], 'jquery', {
|     async: false,
|     numRetries: 3
| });
| loadjs.ready('jquery', function() {
|     $('.ads-info-toggler').popover();
| });
