-var bootstrap = config.bootstrap4.filter(function(o) { return o.current; })[0];
-var jquery = config.javascript.filter(function(o) { return o.name === 'jquery'; })[0];

| loadjs(['#{jquery.uri}', '#{bootstrap.javascriptBundle}'], 'jquery', {
|     async: false,
|     numRetries: 3
| });
| loadjs.ready('jquery', {
|     success: function() {
|         $('.ads-info-toggler').popover();
|     }
| });
