#quickstart.tab-pane.active
    .label-container
        .label Complete CSS
        p
            input.inputs(value=config.bootstrap[0].css_complete)
    .label-container
        .label Complete JavaScript
        p
            input.inputs(value=config.bootstrap[0].javascript)
    br
//- vim: ft=jade sw=4 sts=4 et:
