#quickstart.tab-pane.active
    h2 Quickstart
    center.well
        .label-container
            h3 Complete CSS
        p
            input.input-lg(value=config.bootstrap[0].css_complete)
        .label-container
            h3 Complete JavaScript
        p
            input.input-lg(value=config.bootstrap[0].javascript)
    br
//- vim: ft=jade sw=4 sts=4 et:
