.social
    ul.list-inline
        li
            span(id="ghbtns-badge")
        li
            a.twitter-follow-button(href="https://twitter.com/jdorfman", data-show-count="false") Follow @jdorfman
        li
            a.twitter-follow-button(href="https://twitter.com/mervinej", data-show-count="false") Follow @mervinej
        li
            a.twitter-share-button(href="https://twitter.com/intent/tweet?hashtags=webperf&related=mervinej&text=%23BootstrapCDN%3A%20%40getbootstrap%20hosted%20by%20%40MaxCDN&url=http%3A%2F%2Fwww.bootstrapcdn.com&via=jdorfman") Tweet

//- vim: ft=pug sw=4 sts=4 et:
