.alert.alert-primary.alert-dismissible.fade.show.text-center(role='alert')
    a.alert-link(href='https://stackshare.io/company/bootstrapcdn/decisions', rel='noopener', target='_blank') Read the history of BootstrapCDN on StackShare
    button.close(type='button', data-dismiss='alert', aria-label='Close')
