.alert.alert-primary.text-center(role='alert')
    a.alert-link(href='https://stackshare.io/company/bootstrapcdn/decisions', rel='noopener', target='_blank') Read the history of BootstrapCDN on StackShare

//- vim: ft=pug sw=4 sts=4 et:
