.row
    .col-sm-12
        a.twitter-timeline(href='https://twitter.com/getBootstrapCDN/timelines/770731482377621505' data-height='525' data-partner='tweetdeck') Mad Love - Curated tweets by getBootstrapCDN
br

//- vim: ft=pug sw=4 sts=4 et:
