div
    |<blockquote class="twitter-tweet"><p>if you're looking for a CDN to host @<a href="https://twitter.com/twbootstrap">twbootstrap</a>, the folks at @<a href="https://twitter.com/netdnadeveloper">netdnadeveloper</a> have graciously provided a free one <a href="http://t.co/MsH8NBJ1" title="http://www.bootstrapcdn.com/">bootstrapcdn.com</a></p>—Twitter Open Source (@TwitterOSS) <a href="https://twitter.com/TwitterOSS/status/233235680166293504" data-datetime="2012-08-08T16:18:14+00:00">August 8, 2012</a></blockquote>
div
    |<blockquote class="twitter-tweet"><p>It's really cool to see the bootstrap community step up with projects like this.<a href="http://t.co/YLVWCevr" title="http://www.bootstrapcdn.com/">bootstrapcdn.com</a> <3</p>—♒∆✝ (@fat) <a href="https://twitter.com/fat/status/230014001256464384" data-datetime="2012-07-30T18:56:26+00:00">July 30, 2012</a></blockquote>
div
    |<blockquote class="twitter-tweet" data-conversation="none"><p>@<a href="https://twitter.com/andriyko">andriyko</a> Haha, finally? @<a href="https://twitter.com/netdnadeveloper">netdnadeveloper</a> had that shit out in like an hour :).</p>—Mark Otto (@mdo) <a href="https://twitter.com/mdo/status/263173412984344576">October 30, 2012</a></blockquote>
div
    |<blockquote class="twitter-tweet"><p>BootstrapCDN killed it in 2012. Check out their data from the year in review for serving up Bootstrap: <a href="http://t.co/DaOU2uEJ" title="http://blog.netdna.com/opensource/bootstrapcdn/bootstrapcdn-2012-year-in-review/">blog.netdna.com/opensource/boo…</a></p>—Twitter Bootstrap (@twbootstrap) <a href="https://twitter.com/twbootstrap/status/287063373177307136">January 4, 2013</a></blockquote>
div
    |<blockquote class="twitter-tweet"><p>Wow, that was fast. Font Awesome 3.0 is now up on CDN. Thanks, @<a href="https://twitter.com/netdnadeveloper">netdnadeveloper</a>! <a href="http://t.co/d7PzoQH2" title="http://bit.ly/UkT0IS">bit.ly/UkT0IS</a></p>—Fort Awesome (@fortaweso_me) <a href="https://twitter.com/fortaweso_me/status/286569664862109696">January 2, 2013</a></blockquote>
div
    |<blockquote class="twitter-tweet"><p><a href="http://t.co/GYVUGWg7" title="http://www.bootstrapcdn.com/">bootstrapcdn.com</a> nice to see a CDN like NetDNA take these kind of initiatives</p>—CDN Planet (@cdnplanet) <a href="https://twitter.com/cdnplanet/status/213008798707744768" data-datetime="2012-06-13T20:43:49+00:00">June 13, 2012</a></blockquote>

//- vim: ft=jade sw=4 sts=4 et:

