Redirect 301 /day https://www.leftronic.com/share/kxQMq0/#dashboard+kxQMq0
Redirect 301 /week https://www.leftronic.com/share/iOWeM3/#dashboard+iOWeM3
Redirect 301 /month https://www.leftronic.com/share/P4AMAp/#dashboard+P4AMAp
Redirect 301 /ga https://www.leftronic.com/share/G8D7MG/#dashboard+G8D7MG